.bn-container {
  --bn-colors-editor-text: #101828; /* gray-900 */
  --bn-colors-menu-text: #101828;
  --bn-colors-tooltip-text: #101828;
  --bn-colors-hovered-text: #101828;
  --bn-colors-selected-background: #101828;

  --bn-colors-disabled-text: #475467; /* gray-600 */
  --bn-colors-disabled-background: #f9fafb; /* gray-50 */

  --bn-colors-editor-background: #ffffff;
  --bn-colors-menu-background: #ffffff;
  --bn-colors-selected-text: #ffffff;

  --bn-colors-tooltip-background: #f2f4f7; /* gray-100 */
  --bn-colors-hovered-background: #f2f4f7; /* gray-100 */

  --bn-colors-shadow: #d0d5dd; /* gray-300 */
  --bn-colors-border: #eaecf0; /* gray-200 */
  --bn-colors-side-menu: #98a2b3; /* gray-400 */
  --bn-colors-highlights-gray-text: #344054; /* gray-700 */
  --bn-colors-highlights-gray-background: #f2f4f7; /* gray-100 */
  --bn-colors-highlights-red-text: #b42318; /* error-700 */
  --bn-colors-highlights-red-background: #fef3f2;
  --bn-colors-highlights-orange-text: #b93815;
  --bn-colors-highlights-orange-background: #fef6ee;
  --bn-colors-highlights-yellow-text: #a15c07;
  --bn-colors-highlights-yellow-background: #fefbe8;
  --bn-colors-highlights-green-text: #087443;
  --bn-colors-highlights-green-background: #edfcf2;
  --bn-colors-highlights-blue-text: #175cd3;
  --bn-colors-highlights-blue-background: #eff8ff;
  --bn-colors-highlights-purple-text: #5925dc;
  --bn-colors-highlights-purple-background: #f4f3ff;
  --bn-colors-highlights-pink-text: #c11574;
  --bn-colors-highlights-pink-background: #fdf2fa;
  --bn-font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bn-border-radius: 6px;
}
.bn-container[data-color-scheme="dark"] {
  --bn-colors-editor-text: #f9fafb; /* gray-50 */
  --bn-colors-menu-text: #f9fafb;
  --bn-colors-tooltip-text: #f9fafb;
  --bn-colors-hovered-text: #f9fafb;
  --bn-colors-selected-background: #f9fafb;

  --bn-colors-disabled-text: #98a2b3; /* gray-400 */
  --bn-colors-disabled-background: #182230; /* gray-50 */

  --bn-colors-editor-background: #0c111d; /* gray-950 */
  --bn-colors-menu-background: #0c111d;
  --bn-colors-selected-text: #0c111d;

  --bn-colors-tooltip-background: #101828; /* gray-900 */
  --bn-colors-hovered-background: #101828; /* gray-900 */

  --bn-colors-shadow: #344054; /* gray-700 */
  --bn-colors-border: #182230; /* gray-800 */
  --bn-colors-side-menu: #667085; /* gray-500 */
  --bn-colors-highlights-gray-text: #d0d5dd; /* gray-300 */
  --bn-colors-highlights-gray-background: #182230; /* gray-800 */
  --bn-colors-highlights-red-text: #fda29b; /* error-300 */
  --bn-colors-highlights-red-background: #912018;
  --bn-colors-highlights-orange-text: #f7b27a;
  --bn-colors-highlights-orange-background: #932f19;
  --bn-colors-highlights-yellow-text: #fde272;
  --bn-colors-highlights-yellow-background: #854a0e;
  --bn-colors-highlights-green-text: #73e2a3;
  --bn-colors-highlights-green-background: #095c37;
  --bn-colors-highlights-blue-text: #84caff;
  --bn-colors-highlights-blue-background: #1849a9;
  --bn-colors-highlights-purple-text: #bdb4fe;
  --bn-colors-highlights-purple-background: #4a1fb8;
  --bn-colors-highlights-pink-text: #faa7e0;
  --bn-colors-highlights-pink-background: #9e165f;
}

/* editor */
.bn-editor {
  padding-inline: 0px;
  @apply !px-4 md:!px-[54px] overflow-x-clip;
}
/* image toolbar */
.bn-container .bn-image-toolbar {
  @apply !max-w-[500px] !w-[calc(100vw_-_2rem)];
}
/* toolbar */
.bn-container .bn-toolbar button {
  @apply flex-shrink-0;
}
.bn-container .bn-toolbar {
  /* @apply max-w-[calc(100vw_-_2rem)] ; */
  @apply max-md:rounded-none max-md:shadow-none justify-center max-md:!border-none border-gray-200 dark:border-gray-800 shadow-md;
}
div:has(> .bn-toolbar:not(.bn-image-toolbar)) {
  @apply max-md:!fixed max-md:!translate-x-0 max-md:!translate-y-0 max-md:!top-[4rem]  !z-[99999] flex items-end max-md:!overflow-x-scroll max-md:!w-screen max-md:!overflow-y-hidden max-md:!bg-base-white max-md:dark:!bg-gray-950 max-md:!border-b border-gray-200 dark:border-gray-800;
}

/* dropdown */
.bn-container .mantine-Menu-dropdown {
  @apply shadow-md;
}
